

<h3>Selected Pets</h3>

<table>

  <tbody>
  	<% if Pet.any_pets_selected %>
    <%= render(cart.selected_pet) %>
    <% end %>
  </tbody>
</table>

<br>

<% if Pet.any_pets_selected %>
	<div>
		<div id="empty_button"><%= button_to 'Empty Cart', cart, method: :delete %></div>
		<div id="adopt_button"><%= button_to 'Adopt Now', shelter_adopt_path, method: :post %></div>
	</div>
<% end %>