<div id="main">
	<h1>New Pet</h1>
	<% if current_user.try(:admin?) %>

	<%= render 'form' %>
	<% else %>
			<span id="error">Must be admin to view or edit pets.</span><br>
	<% end %>
	<%= link_to 'Back', pets_path %>
</div>