<p id="notice"><%= notice %></p>

<h1>List of Pets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Description</th>
      <th>Type</th>
      <th>Picture</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody id="the_pets">
    <%= render @pets %>
  </tbody>
</table>

<br>

