// Place all the styles related to the shelter controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#sidebar {
  padding: 20px;
  padding-right: 40px;
  float: left;
  background-color: blue;
  color: #FF3300;
  width: 200px;
  th, td {
    border-top: 2px dotted #CC99FF;
    border-bottom: 2px dotted #CC99FF;
    border-collapse: collapse;
    background-color: #CCFFCC;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}

#main {
  padding: 10px;
  float: left;
}

